<div class="modal fade" id={{modalId}} tabindex="-1" role="dialog">
  <div class="modal-dialog {{if size (concat "modal-" size)}}" role="document">
    <div class="modal-content">
      {{yield}}
    </div>
  </div>
</div>
