<!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
<div id="gr_custom_widget_1579984237">
  <div class="gr_custom_container_1579984237">
    <h2 class="gr_custom_header_1579984237">
      <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/56955322-joshua-wetenkamp?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget">Goodreads by wetjosh</a>
    </h2>
    <div class="gr_custom_each_container_1579984237">
      <div class="gr_custom_book_container_1579984237">
        <a title="Annihilation (Southern Reach #1)" rel="nofollow" href="https://www.goodreads.com/review/show/3105706924?utm_medium=api&amp;utm_source=custom_widget"><img alt="Annihilation" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1403941587l/17934530._SX50_.jpg" /></a>
      </div>
      <div class="gr_custom_rating_1579984237">
        <span class=" staticStars notranslate" title="really liked it"><img alt="really liked it" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
      </div>
      <div class="gr_custom_title_1579984237">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/3105706924?utm_medium=api&amp;utm_source=custom_widget">Annihilation</a>
      </div>
      <div class="gr_custom_author_1579984237">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/33919.Jeff_VanderMeer">Jeff VanderMeer</a>
      </div>
      <div class="gr_custom_review_1579984237">
        The book is a singular experience and therefore gets 4 out of 5 stars. It kept me turning pages; it was mysterious, it was well paced. The flashbacks worked well to slow the burn down and develop the characters. Precise scientific descri...
      </div>
    </div>
    <div class="gr_custom_each_container_1579984237">
      <div class="gr_custom_book_container_1579984237">
        <a title="Foundation and Empire (Foundation, #2)" rel="nofollow" href="https://www.goodreads.com/review/show/3066904712?utm_medium=api&amp;utm_source=custom_widget"><img alt="Foundation and Empire" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1431073611l/1408090._SY75_.jpg" /></a>
      </div>
      <div class="gr_custom_rating_1579984237">
        <span class=" staticStars notranslate"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
      </div>
      <div class="gr_custom_title_1579984237">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/3066904712?utm_medium=api&amp;utm_source=custom_widget">Foundation and Empire</a>
      </div>
      <div class="gr_custom_author_1579984237">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/16667.Isaac_Asimov">Isaac Asimov</a>
      </div>
      <div class="gr_custom_tags_1579984237">
        tagged:
        owned-but-unread
      </div>
    </div>
    <div class="gr_custom_each_container_1579984237">
      <div class="gr_custom_book_container_1579984237">
        <a title="Foundation (Foundation, #1)" rel="nofollow" href="https://www.goodreads.com/review/show/1673371405?utm_medium=api&amp;utm_source=custom_widget"><img alt="Foundation" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1431073586l/332040._SY75_.jpg" /></a>
      </div>
      <div class="gr_custom_rating_1579984237">
        <span class=" staticStars notranslate" title="it was ok"><img alt="it was ok" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
      </div>
      <div class="gr_custom_title_1579984237">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/1673371405?utm_medium=api&amp;utm_source=custom_widget">Foundation</a>
      </div>
      <div class="gr_custom_author_1579984237">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/16667.Isaac_Asimov">Isaac Asimov</a>
      </div>
      <div class="gr_custom_tags_1579984237">
        tagged:
        consumed-via-ipad
      </div>
    </div>
    <div class="gr_custom_each_container_1579984237">
      <div class="gr_custom_book_container_1579984237">
        <a title="The War of the Worlds/The Invisible Man/The Time Machine" rel="nofollow" href="https://www.goodreads.com/review/show/3064256522?utm_medium=api&amp;utm_source=custom_widget"><img alt="The War of the Worlds/The Invisible Man/The Time Machine" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1392582560l/17613090._SY75_.jpg" /></a>
      </div>
      <div class="gr_custom_rating_1579984237">
        <span class=" staticStars notranslate" title="really liked it"><img alt="really liked it" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
      </div>
      <div class="gr_custom_title_1579984237">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/3064256522?utm_medium=api&amp;utm_source=custom_widget">The War of the Worlds/The Invisible Man/The Time Machine</a>
      </div>
      <div class="gr_custom_author_1579984237">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/880695.H_G_Wells">H.G. Wells</a>
      </div>
      <div class="gr_custom_review_1579984237">
        I am wrestling with how to review omnibus editions of books. I want my list of books I've read in Goodreads to be the actual editions of the books I read, but this makes it difficult when it's an omnibus. Anyway, at least for now, this r...
      </div>
    </div>
    <div class="gr_custom_each_container_1579984237">
      <div class="gr_custom_book_container_1579984237">
        <a title="Heretics of Dune (Dune Chronicles, #5)" rel="nofollow" href="https://www.goodreads.com/review/show/3035282142?utm_medium=api&amp;utm_source=custom_widget"><img alt="Heretics of Dune" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1326690295l/53774._SY75_.jpg" /></a>
      </div>
      <div class="gr_custom_rating_1579984237">
        <span class=" staticStars notranslate" title="it was ok"><img alt="it was ok" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
      </div>
      <div class="gr_custom_title_1579984237">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/3035282142?utm_medium=api&amp;utm_source=custom_widget">Heretics of Dune</a>
      </div>
      <div class="gr_custom_author_1579984237">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/58.Frank_Herbert">Frank Herbert</a>
      </div>
      <div class="gr_custom_review_1579984237">
        This one didn't resonate with me like the previous have, even if for only a plot point or two. I actually decided to take chapter notes during my reading of this book since previous Dune novels have been so incredibly complex. I think it...
      </div>
    </div>
    <br style="clear: both"/>
    <center>
      <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://www.goodreads.com/images/widget/widget_logo.gif" /></a>
    </center>
    <noscript>
      Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Joshua, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
    </noscript>
  </div>
</div>

<script src="https://www.goodreads.com/review/custom_widget/56955322.Goodreads%20by%20wetjosh?cover_position=left&cover_size=small&num_books=5&order=d&shelf=read&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_read&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1579984309&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>