<div class="haiku">
  <pre>
    <span>
      function aboutMe($name) {

          var $haiku = "";

          $haiku += </span>"<strong>Call me </strong><span>" + $name;</span><em>Joshua"</em>
          <span>$haiku += </span>"<strong>But J. Arthur Wetenkamp</strong>"<span>;</span>
          <span>$haiku += </span>"<strong>Has a ring to it</strong>"<span>;</span>

          <span>$haiku += </span>"<strong>I think about space</strong>"<span>;</span>
          <span>$haiku += </span>"<strong>Sometimes, more than I ought to</strong>"<span>;</span>
          <span>$haiku += </span>"<strong>Even this moment</strong>"<span>;</span>

          <span>$haiku += </span>"<strong>The websites I build</strong>"<span>;</span>
          <span>$haiku += </span>"<strong>I build with my brain, fingers,</strong>"<span>;</span>
          <span>$haiku += </span>"<strong>Hot bean beverages</strong>"<span>;</span>

          <span>$haiku += </span>"<strong>A dog at my side</strong>"<span>;</span>
          <span>$haiku += </span>"<strong>Furry, lazy, sun-sleeper</strong>"<span>;</span>
          <span>$haiku += </span>"<strong>Cat malevolent</strong>"<span>;</span>

          <span>$haiku += </span>"<strong>Often my two thumbs</strong>"<span>;</span>
          <span>$haiku += </span>"<strong>Seek adventure far away</strong>"<span>;</span>
          <span>$haiku += </span>"<strong>In search of rupees</strong>"<span>;</span>

          <span>$haiku += </span>"<strong>An olive skinned girl</strong>"<span>;</span>
          <span>$haiku += </span>"<strong>Takes tea with sugar and milk</strong>"<span>;</span>
          <span>$haiku += </span>"<strong>Flowers in her hair</strong>"<span>;</span>

          <span>$haiku += </span>"<strong>California farm,</strong>"<span>;</span>
          <span>$haiku += </span>"<strong>Ecuador, San Diego</strong>"<span>;</span>
          <span>$haiku += </span>"<strong>San Francisco bay</strong>"<span>;</span>

          <span>return $haiku;

      }

      aboutMe("Joshua");
    </span>
  </pre>
</div>