{{#link-to "projects"}}
  <div>
    {{#if showTitle}}
      <div class="title">
        <h1>DistantFutureJOSH</h1>
        <h2>A Present Day Web Log</h2>
      </div>
    {{/if}}
    <img src={{image}}>
  </div>
{{/link-to}}