{{#link-to "projects"}}
  {{#if showTitle}}
    <div class="title">
      <h1>DistantFutureJOSH</h1>
      <h2>A Present Day Web Log</h2>
    </div>
    <img src={{concat ENV.cdnURL "/uploads/2014/01/dfjHeader_2160x622_grey_transparent.png"}} />
  {{/if}}
{{/link-to}}