<ul>
  <li>
    {{link-to "Projects" "projects"}}
  </li>
  <li>
    {{link-to "Posts" "posts" (query-params page=1) current-when=postLike}}
  </li>
  <li>
    {{link-to "Podcasts" "podcasts" current-when=podcastLike}}
  </li>
  <li>
    {{link-to "About" "about"}}
  </li>
</ul>