{{#link-to "projects"}}
  <div>
    <div class="title">
      <h1>DistantFutureJOSH</h1>
      <h2>A Present Day Web Log</h2>
    </div>
    <img src="{{ENV.apiURL}}/uploads/2014/01/dfjHeader_2160x622_grey_transparent.png">
  </div>
{{/link-to}}
