<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to "posts.new" class="btn btn-default btn-xs"}}New Post{{/link-to}}
    </div>
  </div>
</nav>