.haiku {
  width: 500px;
  margin: 36px auto;
}
.haiku pre {
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
}
.haiku em {
  margin-left: -76px;
}
main.about.container-fluid {
  margin-top: 64px;
  max-width: 1440px;
}

main.about {
  p {
    font-family: Georgia;
    font-size: 18pt;
  }
  .social-media {
    width: 50%;
    float: left;
  }
}