.bg-disabled {
  background-color: #eee;
}
.inline {
  display: inline;
}
blockquote {
  margin-top: 20px;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

/* header */
body > div > header {
  background-color: #3e3e3e;
}
body > div > header a {
  display: block;
}
body > div > header a div {
  max-width: 1080px;
  margin: 0px auto;
  position: relative;
}
body > div > header a div.title {
  position: absolute;
  top: 0px;
  left: 0px;
}
body > div > header h1 {
  font-size: 48px;
  font-weight: 700;
  margin-left: 32px;
}
body > div > header h2 {
  font-size: 24px;
  font-weight: 700;
  margin-left: 32px;
  margin-top: 15px;
}
body > div > header a:link, 
body > div > header a:visited, 
body > div > header a:hover, 
body > div > header a:active {
  color: #565656;
}
body > div > header a img {
  width: 100%;
  padding: 12px;
}

/* navigation */
body > div > nav.navigation {
  background-color: #3e3e3e;
}
body > div > nav.navigation ul {
  width: 270px;
  margin: 0px auto;
  padding: 0px;
  list-style: none;
  font-size: 0px; /* to remove the carriage return whitespaces from between the nested inline-block li elements */
}
body > div > nav.navigation ul li {
  display: inline-block;
  width: 87px; /* not sure why 33.3333% doesn't work */
}
body > div > nav.navigation ul li:hover {
  background-color: #7e7e7e;
}
body > div > nav.navigation ul li a {
  display: block;
  padding: 8px 12px;
  color: #e8e8e8;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  font-weight: 900;
}
body > div > nav.navigation ul li a:link, 
body > div > nav.navigation ul li a:visited, 
body > div > nav.navigation ul li a:hover, 
body > div > nav.navigation ul li a:active {
  text-decoration: none;
  color: #e8e8e8
}
body > div > nav.navigation ul li a.active {
  background-color: #5b5a5a;
}