.bg-disabled {
  background-color: #eee;
}
.inline {
  display: inline;
}
blockquote {
  margin-top: 20px;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}