.header-comp {
  background-color: #3e3e3e;
}
.header-comp.admin-toolbar-margin {
  margin-top: 32px;
}
.header-comp a {
  display: block;
}
.header-comp a div {
  max-width: 1080px;
  margin: 0px auto;
  position: relative;
}
.header-comp a div.title {
  position: absolute;
  top: 0px;
  left: 0px;
}
.header-comp h1 {
  font-size: 48px;
  font-weight: 700;
  margin-left: 32px;
}
.header-comp h2 {
  font-size: 24px;
  font-weight: 700;
  margin-left: 32px;
  margin-top: 15px;
}
.header-comp a:link, 
.header-comp a:visited, 
.header-comp a:hover, 
.header-comp a:active {
  color: #565656;
}
.header-comp a img {
  width: 100%;
  padding: 12px;
}

@media screen and (max-width: 768px) {
  .header-comp h1 {
    font-size: 36px;
    margin-left: 24px
  }
  .header-comp h2 {
    font-size: 16px;
    margin-left: 24px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 540px) {
  .header-comp h1 {
    font-size: 24px;
    margin-left: 16px
  }
  .header-comp h2 {
    font-size: 16px;
    margin-left: 16px;
    margin-top: 10px;
  }
}