.header-comp {
  background-color: #3e3e3e;
  margin-top: 32px; /* for the admin-toolbar-comp. This will need to be dynamic once users are implemented */
}
.header-comp a {
  display: block;
}
.header-comp a div {
  max-width: 1080px;
  margin: 0px auto;
  position: relative;
}
.header-comp a div.title {
  position: absolute;
  top: 0px;
  left: 0px;
}
.header-comp h1 {
  font-size: 48px;
  font-weight: 700;
  margin-left: 32px;
}
.header-comp h2 {
  font-size: 24px;
  font-weight: 700;
  margin-left: 32px;
  margin-top: 15px;
}
.header-comp a:link, 
.header-comp a:visited, 
.header-comp a:hover, 
.header-comp a:active {
  color: #565656;
}
.header-comp a img {
  width: 100%;
  padding: 12px;
}
