.post-comp {
  .content .taxonomy {
    padding-right: 0px;
  }
  .content .episode-info .apple-podcasts-link img {
    // width: 100%;
    margin-bottom: 12px;
  }
  .content .episode-info button {
    margin-bottom: 4px;
  }
  .feature-image a {
    display: block;
  }
  .feature-image img {
    height: 250px;
    margin-bottom: 12px;
  }
  article {
    position: relative;
  }
  article button.publish-draft-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
  }
  article h1 {
    /* padding-left: 60px;
    text-indent: -32px; */
  }
  hr {
    border-top-width: 1px;
    width: 64%;
  }
  hr.invisible {
    margin: 30px 0px;
  }
  article .content .text img {
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    border-radius: 3px;
  }
  article .content .text img.alignnone {
    
  }
  article .content .text img.aligncenter {
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
  }
  article .content .text img.alignright {
    float: right;
    margin-left: 25px;
  }
  article .content .text img.alignleft {
    float: left;
    margin-right: 25px;
  }
  article .content .text img.size-full {
    width: 100%;
  }
  article .content .text img.size-large {
    width: 90%
  }
  article .content .text img.size-medium {
    width: 60%
  }
  article .content .text img.size-small {
    width: 35%
  }
  article .content .text img.size-thumbnail {
    width: 20%;
  }
}

@media screen and (max-width: 1124px) {
  
}

@media screen and (max-width: 768px) {
  .post-comp article h1 {
    font-size: 48px;
  }
  .post-comp .feature-image img {
    height: 200px;
  }
}

@media screen and (max-width: 540px) {
  .post-comp article h1 {
    font-size: 42px;
  }
  .post-comp .feature-image img {
    height: 150px;
  }
}