.post-comp .content .taxonomy {
  padding-right: 0px;
}
.post-comp .content .episode-info button {
  margin-bottom: 4px;
}
.post-comp .feature-image a {
  display: block;
}
.post-comp .feature-image img {
  height: 250px;
  margin-bottom: 12px;
}
.post-comp article {
  position: relative;
}
.post-comp article button.publish-draft-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}
.post-comp article h1 {
  /* padding-left: 60px;
  text-indent: -32px; */
}
.post-comp hr.invisible {
  margin: 30px 0px;
}
.post-comp article .content img {
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  border-radius: 3px;
}
.post-comp article .content img.alignnone {
  
}
.post-comp article .content img.aligncenter {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
}
.post-comp article .content img.alignright {
  float: right;
  margin-left: 25px;
}
.post-comp article .content img.alignleft {
  float: left;
  margin-right: 25px;
}
.post-comp article .content img.size-full {
  width: 100%;
}
.post-comp article .content img.size-large {
  width: 90%
}
.post-comp article .content img.size-medium {
  width: 60%
}
.post-comp article .content img.size-small {
  width: 35%
}
.post-comp article .content img.size-thumbnail {
  width: 20%;
}

@media screen and (max-width: 768px) {
  .post-comp article h1 {
    font-size: 48px;
  }
  .post-comp .feature-image img {
    height: 200px;
  }
}

@media screen and (max-width: 540px) {
  .post-comp article h1 {
    font-size: 42px;
  }
  .post-comp .feature-image img {
    height: 150px;
  }
}