.post-modal-comp h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.post-modal-comp ul {
  text-align: right;
}
.post-modal-comp li {
  margin-bottom: 2px;
}
.post-modal-comp .taxonomy button {
  border: none;
}
.post-modal-comp .content .taxonomy {
  padding-right: 0px;
}