.rama-post .content .taxonomy {
  padding-right: 0px;
}
.rama-post .feature-image a {
  display: block;
}
.rama-post .feature-image img {
  height: 250px;
  margin-bottom: 12px;
}
.rama-post hr.invisible {
  margin: 30px 0px;
}