{{#if post.postCategories}}
  <ul class="list-unstyled">
    {{#each post.postCategories as |postCategory|}}
      <li>
        <button type="button" class="btn btn-xs btn-success">
          {{postCategory.category.name}}
        </button>
      </li>
    {{/each}}
  </ul>
{{/if}}
{{#if post.postTags}}
  <ul class="list-unstyled">
    {{#each post.postTags as |postTag|}}
      <li>
        <button type="button" class="btn btn-xs btn-info">
          {{postTag.tag.name}}
        </button>
      </li>
    {{/each}}
  </ul>
{{/if}}