<main class="container-fluid login">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 form">
      <div class="form-group">
        {{input class="form-control" type="email" placeholder="email" value=email}}
      </div>
      <div class="form-group">
        {{input class="form-control" type="password" placeholder="password" value=password}}
      </div>
      <button class="btn btn-primary pull-right" {{action "login"}}>Log in</button>
    </div>
  </div>
</main>