{{header-comp fullWidth=true class=(concat model.slug "-header")}}

{{nav-comp lighter=true}}

<main class="container-fluid">
  
  {{#each orderedEpisodes as |episode|}}
    {{post-comp
      post=episode.post
      showFeatureImage=false
      bodyLimit=1200
    }}
  {{/each}}

  {{pagination-comp store=store limit=limit page=page total=total}}

</main>
