{{header-comp showTitle=true fullWidth=true class="default-header"}}

{{nav-comp}}

<main class="podcasts container-fluid">
  
  {{#each model as |podcast|}}
    {{podcast-comp
      podcast=podcast
    }}
  {{/each}}
  
  <div class="podcast">
    <a style="display: inline-block;" href="https://podcasts.apple.com/us/podcast/no-format/id469612577">
      <img style="width: 100%;" src={{concat ENV.cdnURL "/noformat/graphics/no_format_podcast.jpg"}}>
    </a>
  </div>
  
</main>