{{rama-header}}

{{rama-nav}}

<main class="container-fluid">

  {{#each model as |post|}}
    {{rama-post 
      post=post
      showFeatureImage=false
    }}
  {{/each}}

  {{rama-pagination store=store limit=limit page=page total=total}} {{!-- why don't I need to pass the model here? --}}

</main>