<main class="container-fluid">

  {{#each model as |post|}}
    {{rama-post 
      post=post
      showFeatureImage=false
    }}
  {{/each}}

  {{rama-pagination store=store page=page}} {{!-- why don't I need to pass the model here? --}}

</main>