<main>
  {{#each model as |post|}}
    <article>
      <h1 class="title">
        <span class="glyphicon glyphicon-asterisk"></span> {{post.title}}
      </h1>
      <p>{{post.htmlBody}}</p>
    </article>
  {{/each}}
</main>
{{outlet}}
