{{header-comp showTitle=true}}

{{nav-comp}}

<main class="posts container-fluid">

  {{#each model as |post|}}
    {{post-comp 
      post=post
      showFeatureImage=false
      bodyLimit=1200
    }}
  {{/each}}

  {{pagination-comp store=store limit=limit page=page total=total}} {{!-- why don't I need to pass the model here? --}}

</main>