{{rama-header}}

{{rama-nav}}

<main class="container-fluid">
  
  {{#each model as |post|}}
    {{rama-post
      post=post
      showAsterisk=false
      showFeatureImage=true
      showTaxonomy=false
      showAttribution=false
      showHorizontalRule=false
      gutterColumns=1
    }}
  {{/each}}
  
  {{!-- no pagination for now, but some day maybe --}}

</main>