{{header-comp showTitle=true fullWidth=true class="default-header"}}

{{nav-comp}}

<main class="projects container-fluid">
  
  {{#each model as |post|}}
    {{post-comp
      post=post
      showAsterisk=false
      showFeatureImage=true
      showTaxonomy=false
      showAttribution=false
      showHorizontalRule=false
      gutterColumns=1
    }}
  {{/each}}
  
  {{!-- no pagination for now, but some day maybe --}}

</main>